@import '../common/variables';
@import '../common/mixins';
@import '../common/animations';
@import '../common/utilities';

.recent-songs {
  margin-top: 1em;

  @media (min-width: $mdscreen) {
    margin-top: 2em;
  }

  h3 {
    @include responsive-text(1.25rem, 1.5rem, 1.75rem);
  }

  &-header {
    margin-bottom: 1em;
  }

  .arrow {
    @include responsive-text(2rem, 2.25rem, 2.5rem);
    @extend .bounce;
    color: $claret;

    &:hover {
      color: lighten($claret, 8%);
    }
  }
}
